<h3>Test Devices</h3>
<div class="panel">
<div class="table-bordered table-responsive text-center" >
    <table class="table table-bordered" style="border: 2px solid: ">
      <thead>
        <tr>
          <th><%= sortable "name", "Name" %></th>
          <th><%= sortable "kindof", "Type" %></th>
          <th>Serial Number</th>
          <th><%= sortable "os", "OS Version" %></th>
          <th><%= sortable "location", "Location" %></th>
          <th><%= sortable "status", "Status" %></th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @equipment.each do |equipment| %>
          <tr>
            <td><p class="text-left"><%= equipment.name %></p></td>
            <td><p class="text-left"><%= equipment.kindof %></p></td>
            <td><p class="text-left"><%= equipment.serial %></p></td>
            <td><p class="text-left"><%= equipment.os %></p></td>
            <td><p class="text-left"><%= equipment.location %></p></td>
            <td><p class="text-left"><%= equipment.status %></p></td>
              <% if current_user.id == 1 %>
                <td><%= link_to 'Show', equipment_path(equipment) %></td>
                <td><%= link_to 'Update', edit_equipment_path(equipment) %></td>
                <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% elsif current_user.id == 3 %>
                <td><%= link_to 'Update', edit_equipment_path(equipment) %></td>
                <td><%= link_to 'Show', equipment_path(equipment) %></td>
              <% else %>
                <td><%= link_to 'Show', equipment_path(equipment) %></td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>


  <% if current_user.id == 1 %>
    <h5>Import Devices using CSV</h5>

    <%= form_tag import_equipment_index_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
  <% elsif current_user.id == 3 %>
    <h5>Import Devices using CSV</h5>

    <%= form_tag import_equipment_index_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
  <% else %>
    <h4>If you need to Upload a CSV, Please ask Oliver or Andre.<h4/> 
  <% end %>
<%= flash[:notice] %>

<br/>
  <a class="navbar-brand" href="http://nlist-things.herokuapp.com/equipment.csv">Download a CSV</a>
