<h1>Test Devices</h1>
<div class="panel">
<div class="table-bordered table-responsive text-center" >
    <table class="table table-bordered" style="border: 2px solid: ">
      <thead>
        <tr>
          <th><%= sortable "name", "Name" %></th>
          <th><%= sortable "kindof", "Type" %></th>
          <th>Serial Number</th>
          <th><%= sortable "os", "OS Version" %></th>
          <th>UDID</th>
          <th><%= sortable "location", "Location" %></th>
          <th><%= sortable "status", "Status" %></th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @equipment.each do |equipment| %>
          <tr>
            <td><p class="text-left"><%= equipment.name %></p></td>
            <td><p class="text-left"><%= equipment.kindof %></p></td>
            <td><p class="text-left"><%= equipment.serial %></p></td>
            <td><p class="text-left"><%= equipment.os %></p></td>
            <td><p class="text-left"><%= equipment.udid %></p></td>
            <td><p class="text-left"><%= equipment.location %></p></td>
            <td><p class="text-left"><%= equipment.status %></p></td>
            <td><%= link_to 'Update', edit_equipment_path(equipment) %></td>
            <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>



<h5>Import Devices using CSV</h5>

<%= form_tag import_equipment_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br/>
  <a class="navbar-brand" href="http://nlist-things.herokuapp.com/equipment.csv">Download a CSV</a>
