<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @equipment.kindof %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @equipment.serial %>
</p>

<p>
  <strong>OS Version:</strong>
  <%= @equipment.os %>
</p>

<p>
  <strong>UDID:</strong>
  <%= @equipment.udid %>
</p>

<p>
  <strong>Location:</strong>
  <%= @equipment.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @equipment.status %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
